body {
  background-color: #EDEDE7;
  color:#333333;
}
.about-wrap{
  text-align: center;
}
.title-wrap{
  margin-top: 50px;
  margin-bottom: 30px;
}
.about-title{
display: inline-block;
vertical-align: top;
/* top:0; */
 font-size: 5rem;
 text-align: left;
}
.about-pic{
  display: inline-block;
  background-color: #12BCEF;
  max-width: 30%;
  height: auto;
  margin: 10px;
}
.about-dsc{
  display: inline-block;
  font-size: 2.8rem;
  color: #494949;
  max-width: 60%;
  text-align:justify;
  margin-bottom: 50px;
}
.contact{
  font-size: 2.8em;
  margin-bottom: 100px;
}
