:root{
  /* --background:  #E9E9E9; */
}
body {
  background-color: #EDEDE7;
  color:#333333;
}
.flex-nav-container{
  margin-top:80px;
  margin-bottom: 80px;
  display: flex;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* Navigation bar */
.nav-item{
  flex-basis: 120px;
  height: 30px;
  position: relative;
  border-bottom: #333333 2px solid;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  text-decoration:none;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: regular;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
}
a span{
  position: relative;
  z-index: 1;
  color: #333333;
  transition: 1s;
}
a span:hover{
  color: white;
}
a .wavy{
  position:absolute;
  width:100%;
  height:100%;
  top: calc(100% + 20px);
  left:0;
  background-color:#333333;
  transition: 1s;

}
a .wavy:before{
  content: '';
  background: url(wave0.png);
  position:absolute;
  width: 100%;
  height: 20px;
  top: -20px;
  left:0;
  animation: wave linear 0.5s infinite;
}
a:hover .wavy{
  top: 0;
}
@keyframes wave{
  from{
    background-position-x: 0px;
    background-position-y: -20px;
  }
  to{
    background-position-x: 160px;
    background-position-y: -20px;
  }
}
/* Content */
.fl-container {
  text-align:center;
}
.flex-project-container
{
  display:inline-flex;
  width: 71%;
  height: 70%;
  flex-flow: column wrap;
  align-content: flex-start;
  margin-bottom: 100px;
}

.flex-footer-container{
  display:flex;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
}
.fl-item{
  max-width: 100%;
  flex-basis: 30%;
  flex-shrink:1;
}
.fl-wrap{
  display: inline-flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content:center;
  height: inherit;
}

.pj-overlay-container
{
  position:relative;
  flex-basis: 58%;
  flex-grow:0;
  flex-shrink:0;
  max-height:100%;
  margin: 0px;
  text-align:center;
}
.pj-overlay{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  max-height:100%;
  width:100%;
  opacity:0;
  transition: .5s ease;
  background-color:#6A76F4;
}
.pj-overlay-container:hover .pj-overlay{
  opacity:0.8;
}
.pj-overlay-container:hover .view-pj{
  opacity:1;
}
#image-ucs, #image-smile, #image-non{
  max-width:100%;
  height:auto;
}
#goto{
  max-width: 30%;
  height:auto;
  margin-top: 14%;
}

.pj-dsc{
  flex-basis: 38%;
  flex-grow: 0;
  flex-shrink: 0;
  max-height:100%;
  background-color: #E5E5E5;
  margin: 0px;
  text-align:left;
}
.pj-dsc p {
  display: inline-block;
  max-width: 88%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
  color: #333333;
}
.view-pj{
  display: inline-block;
  position: absolute;
  /* background-color: #6A76F4; */
  width: 110px;
  height: 30px;
  border: #FFFFFF 2px solid;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* line-height: 24px; */
  font-family: 'Noto Sans KR', sans-serif;
  /* vertical-align: middle; */
}
/*
.other-item{
  flex-basis: 160px;
  height: 160px;
  text-align: center;
  line-height:160px;
  background-color: lightgrey;
  margin: 10px;
} */

/* #other
{
  display: block;
  margin-left:20%;
  font-weight: bold;
  font-size: 20px;
} */
.footer-item{
  flex-basis: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* Mobile */
@media all and (max-width:768px){
  .wavy{
    display:none;
  }
  .nav-item{
    flex-basis: 100px;
    height: 24px;
    position: relative;
    border-bottom: black 2px solid;
    margin: 8px;
    text-align: center;
    line-height: 20px;
    text-decoration:none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: regular;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
  }
  /* Content */
  .fl-container {
    text-align:center;
  }
  .flex-project-container
  {
    display:inline-flex;
    width: 96%;
    height: 70%;
    flex-flow: column wrap;
    align-content: flex-start;
    margin-bottom: 100px;
  }

  .flex-footer-container{
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .fl-item{
    max-width: 96%;
    flex-basis:30%;
  }
  .fl-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
  }

  .pj-overlay-container
  {
    position:relative;
    flex-basis: 58%;
    flex-grow:0;
    flex-shrink:0;
    max-height:100%;
    margin: 0px;
    text-align:center;
  }
  .pj-overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    max-height:100%;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background-color:#2233DD;
  }
  .pj-overlay-container:hover .pj-overlay{
    opacity:0.8;
  }
  #image-ucs, #image-smile, #image-non{
    /* width:490px; */
    /* height:350px; */
    max-width:100%;
    height:auto;
  }
  #goto{
    max-width: 40%;
    height:auto;
  }
  .pj-dsc{
    flex-basis: 38%;
    flex-grow: 0;
    flex-shrink: 0;
    max-height:100%;
    background-color: #E5E5E5;
    margin: 0px;
    text-align:left;
  }
  .pj-dsc p {
    display: inline-block;
    max-width: 88%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9em;
    color: #676767;
  }

}
